			<!-- Footer -->
					<footer id="footer">
					  <ul class="icons">
	<li><a href="https://twitter.com/cssatlse" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
	<li><a href="https://www.facebook.com/cssatlse/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
	<li><a href="https://www.linkedin.com/company/cssatlse/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
	<li><a href="https://github.com/cssatlse" class="icon fa-github"><span class="label">Github</span></a></li>
</ul>
						<p class="copyright">&copy; {{ .Site.Params.copyright }} <i class="fa fa-heart" aria-hidden="true"></i> Powered by <a href="https://github.com/ciflikli/css">R blogdown.</a></p>
					</footer>

			</div>
		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
			{{ template "_internal/google_analytics_async.html" . }}

	</body>
</html>
